body {
  background-color: #26C485;
}

.container {
  border: 2px solid #2F0601;
  background-color: #32908F;
  color: white;
  padding: 1vw;
  border-radius: 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.container.top {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 0px;
}

.container.bottom {
  background-color: #553A41;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-top: 0px;
}

.header {
  background-color: #A3E7FC;
}

.colored {
  background-color: #553A41;
  color: white;
}

a.body-link {
  color: white;
}
